//
//	Add your custom configuration variables to this file.
//	See _style_config.scss for list of variables
//
//	This file requires SASS compiler.
//	You can find instructions here: http://www.artodia.com/phpbb-31-tutorials/compile-theme/
//


// Examples: (commented to prevent it from working)
// 
$show-logo: true;
$use-wrapper: false;
$max-width: 1200px;
$page-background:	#3a3a3a; // HTML element
$content-background:	#eaebe1; // (Hintergrund des Forums) Page inside content wrapper

$primary-color:		#5d8e4e; // (BG+links) Main color, used for links and stuff
$secondary-color:	#96a65c; // Secondary color, usually in red - yellow range
$overlay-color:		#eaebe1; // Text on top of sections that use colorful background
$block-background:	#eaebe1; // (BG der Blöcke) Background of blocks
$block-background-reported: #e3d28e; // Background for reported posts

$text-color:		#141414; // Text color

$rules-color:		#ddc88f; /*desaturate(hsl(0, saturation($secondary-color), lightness($secondary-color)), 20%) !default;	// Forum rules*/

$block-background2:	#eaebe1; // Blocks with .bg2 background color
$block-background3:	#eaebe1; // Blocks with .bg3 background color - mostly UCP/MCP and posting form

$block-border:		#d6d8c2; // (Rand um Blöcke) Border color for blocks

$tab-selected-background:	$block-background;
$tab-selected-border:		$block-background;

$primary-nav-alert-bg:		#a7cf68; //Sprechblase an Glocke für New
$primary-nav-alert-color:	#3a3a3a; //Zahlfarbe

$notification-unread-bg:	#e6d9a3; //$block-background-reported; //mix($content-background, $rules-color, 90%) !default;
$notification-unread-color:	#000000; //$rules-color

$dropdown-notification-hover-bg:	#f2f3ea;
$dropdown-notification-hover-color:	$primary-color;

$input-bg:		#f9f9f5; // Input background
$input-border:		mix($primary-color, $block-border, 40%); // Input border color
$input-hover-text:	$text-color;
$input-focus-bg:	#ffffff;

$search-box-border:		$primary-color; // Border for search box block
$search-box-border-header:	$primary-color; // Same as above, for search box in header

$button-bg:		#f2f3ea;
$button-border-radius:	2px;
$button-border:		$primary-color;
$button-main-border:	$primary-color;
