//
//	Add your custom code to this file
//
//	This file requires SASS compiler.
//	You can find instructions here: http://www.artodia.com/phpbb-31-tutorials/compile-theme/
//


div.copyright {
	color: #828282;
}
div.stat-block {
	color: rgba(234, 235, 225, 0.8);
	/*background-color:rgba(234, 235, 225, 0.5);*/
	border-radius:3px;
}

/*p.author {
	border-bottom:2px solid #d6d8c2;
}

.postprofile {
	border-right:2px solid #d6d8c2 !important;
}*/

fieldset.jumpbox label, fieldset.display-options label {
	color: rgba(234, 235, 225, 0.8) !important;
	font-weight: bold;
}

div.stat-block h3 {
	color:#5d8e4e;
}

html, body {
	background:url(images/nellyaa_tenteggl.jpg);
}

.pagination {
	color:rgba(234, 235, 225, 0.8);
	color:#828282;
}

a.button1, input.button1 {
	background-color:#5d8e4e !important;
	color:#eaebe1 !important;
}

a.button1:hover, input.button1:hover {
	background-color:#96a65c !important;
	background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}

.notification_list li.bg3 {
	/*background-color:#ddc88f !important;*/
}
/* Navigation */
#navigation a {
	background-color:#f9f9f5 !important;
	border-radius:2px !important;
}

.cp-mini {
	background-color:#f9f9f5 !important;
	border-radius:2px !important;
	margin:10px 0px 0px 0px;
}

.column2 {
	margin-top:5px;
}

#active-subsection a {
	background-color:$primary-color !important;
}

.online-ribbon span {
	background-color:#3a3a3a !important;
	color:#96a65c !important;
	text-transform:lowercase !important;
	/*border:2px solid $primary-color !important;*/
	background-image: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%) !important;
}

.online-ribbon span + span {
	opacity:1 !important;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4) !important;
}

.codebox p {
	background-color:#d6dbc2 !important;
	color:#000 !important;
}

.codebox p, blockquote cite {
	background-color:#d6dbc2 !important;
		color:#000 !important;
}

.codebox p, .codebox p a, blockquote cite, blockquote cite a {
	color:$primary-color !important;
}

.codebox p a:hover, blockquote cite a:hover {
	color:#000 !important;
}

blockquote.uncited, .codebox, blockquote {
	border-color:#abc2a0 !important;
}

blockquote.uncited {
	padding-top:5px !important;
}

blockquote:before {
	content:"„“" !important;
	color:#5d8e4e !important;
}

blockquote.uncited:before {
	color:#5d8e4e !important;
	right:5px !important;
	left:auto !important;
	opacity:0.5 !important;
}

.avatar, .avatar-container {
	border-radius:2px;
}

.no-avatar .avatar-container {
	width:150px;
	height:150px;
}

.postprofile .username-coloured, .postprofile .username, .portal-centered-content .username-coloured,  .portal-centered-content .username {
	font-family:"Droid Sans", "Open Sans", Helvetica !important;
	font-size:16px !important;
	display:block !important;
	text-align:center !important;
	font-weight:normal !important;
	margin-top:5px;
}

.portal-centered-content .username-coloured,.portal-centered-content .username  {
	margin-bottom:-10px !important;
}

.profile-rank {
	font-family:"Droid Sans", "Open Sans", Helvetica !important;
	display:block !important;
	text-align:center !important;
	margin-top:-2px !important;
}

.postprofile {
	padding-right:3px !important;
}

#logo {
	height:270px;
	width:323px;
	position:relative !important;
	margin:0 0;
	margin-left:-4px;
}

.no-avatar .avatar-container {
        background-image: url("./images/nellyaa_no_avatar.png") !important;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
                background-image: url("./images/nellyaa_no_avatar_hd.png") !important;
        }
	width: 138px;
	height: 138px;
}

a.top::after, a.top2::after {
	content:"\f077";
	font-size:16px;
}

a.top, a.top2 {
	width:16px;
}

.imageset.icon_topic_reported::after {
	color:#3a3a3a;
}

.imageset.icon_topic_latest::after, .imageset.icon_topic_newest::after {
	color:#619452;
	font-size:12px;
}

.portal-navigation ul li a {
	background-image:url(images/portal/arrowbullet.gif) !important;
}

.profile-avatar {
	margin-top:3px;
}

.portal-user-icon {
	background-image:url(images/portal/nellyaa_user_icon.png) !important;
}

/*#text_shoutbox {
	width:70%;
}*/

/* Die folgenden 3 Sachen machen ein hübsches Post-Foren-Icon am Beitrag */
ul.topiclist li.row dt a.subforum.read {
	padding:0 0 0 14px;
}

.imageset.icon_post_target, .imageset.icon_post_target_unread {
	background-size:13px 11px;
}

.imageset.icon_post_target, .imageset.icon_post_target_unread {
	padding-left:13px;
	padding-top:11px;
}

img.smilies {
	width: 20px;
	height: 20px;
}

@media (max-width: 700px) {
	.logo {
		padding: 0px;
	}
}

// FH Make portal body icons disappaer
#portal-body li.header dl dt img {
	display: none;
}

#memberlist .avatar,
#memberlist img[src^="//secure.gravatar.com"] {
	max-width: 75px !important;
	max-height: 75px !important;
}

.fh-custom-field {
	text-align: center;
}

.fh-align-center, .fh-center {
	display: block; 
	text-align: center;
}
.fh-align-right {
	display: block; 
	text-align: right;
}
.fh-align-left {
	display: block; 
	text-align: left;
}


.fh-strikethrough {
	text-decoration: line-through;
}

blockquote div {
	margin-right: 15px;
}

/* Logo / Header things */

body {
	border-top-style: none;
	border-top-width: 0px;
}

.navbar .nav-tabs .tab {
	z-index: 20;
}

.fh-logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background-position:center top;
	width: 1202px;
	height: 353px;
}

#fh-logo-overlay {
	@extend .fh-logo;
	background-image: url(images/nellyaa_BG_overlay.png);
	pointer-events: none;
	z-index: 10;
}

#fh-logo-background {
	@extend .fh-logo;
	background-image: url(images/nellyaa_BG.png);
}

/* sr-only for postlove */
.sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
}


// Forum and Topic icons
.global_read													{ background-image: url("./images/nellyaa_announce_read.png"); }
.global_read_mine												{ @extend .global_read; }
.global_read_locked												{ background-image: url("./images/nellyaa_announce_read_locked.png"); }
.global_read_locked_mine										{ @extend .global_read_locked; }
.global_unread													{ background-image: url("./images/nellyaa_announce_unread.png"); }
.global_unread_mine												{ @extend .global_unread; }
.global_unread_locked											{ background-image: url("./images/nellyaa_announce_unread_locked.png"); }
.global_unread_locked_mine										{ @extend .global_unread_locked; }

.announce_read													{ @extend .global_read; }
.announce_read_mine												{ @extend .global_read_mine; }
.announce_read_locked											{ @extend .global_read_locked; }
.announce_read_locked_mine										{ @extend .global_read_locked_mine; }
.announce_unread												{ @extend .global_unread; }
.announce_unread_mine											{ @extend .global_unread_mine; }
.announce_unread_locked											{ @extend .global_unread_locked; }
.announce_unread_locked_mine									{ @extend .global_unread_locked_mine; }

.forum_link														{ background-image: url("./images/nellyaa_forum_link.png"); }
.forum_read														{ background-image: url("./images/nellyaa_forum_read.png"); }
.forum_read_locked												{ background-image: url("./images/nellyaa_forum_read_locked.png"); }
.forum_read_subforum											{ background-image: url("./images/nellyaa_forum_read_subforum.png"); }
.forum_unread													{ background-image: url("./images/nellyaa_forum_unread.png"); }
.forum_unread_locked											{ background-image: url("./images/nellyaa_forum_unread_locked.png"); }
.forum_unread_subforum											{ background-image: url("./images/nellyaa_forum_unread_subforum.png"); }

.sticky_read													{ @extend .topic_read; }
.sticky_read_mine												{ @extend .topic_read_mine; }
.sticky_read_locked												{ @extend .topic_read_locked; }
.sticky_read_locked_mine										{ @extend .topic_read_locked_mine; }
.sticky_unread													{ @extend .topic_unread; }
.sticky_unread_mine												{ @extend .topic_unread_mine; }
.sticky_unread_locked											{ @extend .topic_unread_locked; }
.sticky_unread_locked_mine										{ @extend .topic_unread_locked_mine; }

.topic_moved													{ background-image: url("./images/nellyaa_topic_moved.png"); }
.topic_read														{ background-image: url("./images/nellyaa_topic_read.png"); }
.topic_read_mine												{ background-image: url("./images/nellyaa_topic_read_mine.png"); }
.topic_read_hot													{ background-image: url("./images/nellyaa_topic_read_hot.png"); }
.topic_read_hot_mine											{ background-image: url("./images/nellyaa_topic_read_hot_mine.png"); }
.topic_read_locked												{ background-image: url("./images/nellyaa_topic_read_locked.png"); }
.topic_read_locked_mine											{ background-image: url("./images/nellyaa_topic_read_locked_mine.png"); }
.topic_unread,													{ background-image: url("./images/nellyaa_topic_unread.png"); }
.topic_unread_mine												{ background-image: url("./images/nellyaa_topic_unread_mine.png"); }
.topic_unread_hot												{ background-image: url("./images/nellyaa_topic_unread_hot.png"); }
.topic_unread_hot_mine											{ background-image: url("./images/nellyaa_topic_unread_hot_mine.png"); }
.topic_unread_locked											{ background-image: url("./images/nellyaa_topic_unread_locked.png"); }
.topic_unread_locked_mine										{ background-image: url("./images/nellyaa_topic_unread_locked_mine.png"); }

.pm_read														{ @extend .topic_read; }
.pm_unread														{ @extend .topic_unread; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)
{
	.global_read, .global_read_locked, .global_unread, .global_unread_locked,
	.forum_link, .forum_read, .forum_read_locked, .forum_read_subforum, .forum_unread, .forum_unread_locked, .forum_unread_subforum,
	.topic_moved, .topic_read, .topic_read_mine, .topic_read_hot, .topic_read_hot_mine, .topic_read_locked, .topic_read_locked_mine,
	.topic_unread, .topic_unread_mine, .topic_unread_hot, .topic_unread_hot_mine, .topic_unread_locked, .topic_unread_locked_mine
	{
		background-size: 36px 36px;
	}

	.global_read												{ background-image: url("./images/nellyaa_announce_read_hd.png"); }
	.global_read_locked											{ background-image: url("./images/nellyaa_announce_read_locked_hd.png"); }
	.global_unread												{ background-image: url("./images/nellyaa_announce_unread_hd.png"); }
	.global_unread_locked										{ background-image: url("./images/nellyaa_announce_unread_locked_hd.png"); }

	.forum_link													{ background-image: url("./images/nellyaa_forum_link_hd.png"); }
	.forum_read													{ background-image: url("./images/nellyaa_forum_read_hd.png"); }
	.forum_read_locked											{ background-image: url("./images/nellyaa_forum_read_locked_hd.png"); }
	.forum_read_subforum										{ background-image: url("./images/nellyaa_forum_read_subforum_hd.png"); }
	.forum_unread												{ background-image: url("./images/nellyaa_forum_unread_hd.png"); }
	.forum_unread_locked										{ background-image: url("./images/nellyaa_forum_unread_locked_hd.png"); }
	.forum_unread_subforum										{ background-image: url("./images/nellyaa_forum_unread_subforum_hd.png"); }

	.topic_moved												{ background-image: url("./images/nellyaa_topic_moved_hd.png"); }
	.topic_read													{ background-image: url("./images/nellyaa_topic_read_hd.png"); }
	.topic_read_mine											{ background-image: url("./images/nellyaa_topic_read_mine_hd.png"); }
	.topic_read_hot												{ background-image: url("./images/nellyaa_topic_read_hot_hd.png"); }
	.topic_read_hot_mine										{ background-image: url("./images/nellyaa_topic_read_hot_mine_hd.png"); }
	.topic_read_locked											{ background-image: url("./images/nellyaa_topic_read_locked_hd.png"); }
	.topic_read_locked_mine										{ background-image: url("./images/nellyaa_topic_read_locked_mine_hd.png"); }
	.topic_unread												{ background-image: url("./images/nellyaa_topic_unread_hd.png"); }
	.topic_unread_mine											{ background-image: url("./images/nellyaa_topic_unread_mine_hd.png"); }
	.topic_unread_hot											{ background-image: url("./images/nellyaa_topic_unread_hot_hd.png"); }
	.topic_unread_hot_mine										{ background-image: url("./images/nellyaa_topic_unread_hot_mine_hd.png"); }
	.topic_unread_locked										{ background-image: url("./images/nellyaa_topic_unread_locked_hd.png"); }
	.topic_unread_locked_mine									{ background-image: url("./images/nellyaa_topic_unread_locked_mine_hd.png"); }
}
ul.topiclist li.row dt a.subforum.read {
	background-image: url("./images/nellyaa_subforum_read.png");
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)	{
		background-image: url("./images/nellyaa_subforum_read_hd.png");
	}
}
ul.topiclist li.row dt a.subforum.unread {
	background-image: url("./images/nellyaa_subforum_unread.png");
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)	{
		background-image: url("./images/nellyaa_subforum_unread_hd.png");
	}
}
.imageset.icon_post_target {
	background-image: url("./images/nellyaa_icon_post_target.png");
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)	{
		background-image: url("./images/nellyaa_icon_post_target_hd.png");
	}
}
.imageset.icon_post_target_unread {
	background-image: url("./images/nellyaa_icon_post_target_unread.png");
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)	{
		background-image: url("./images/nellyaa_icon_post_target_unread_hd.png");
	}
}

div.codebox > code {
	white-space: pre;
}
